<div class="container"> 
    <h4 class="titulo"><b> Perfil</b></h4>
    <div class="row"> 
        <div class="col-md-3">
        <div class="imagen" >
        <div class="conper">
            <img src="\assets\imagen\perfil.jpg" title="Luis Felipe" alt="Mi Foto de Perfil" class="perfil">
        </div> 
        <div class="frame1">
        <img src="\assets\imagen\angular.png" title="angular" alt="Angular" class="mnlogo">
        <img src="\assets\imagen\core.png" title="Asp.net Core" alt="Asp.net Core" class="mnlogo">
        <img src="\assets\imagen\jvscrip.png" title="Javascript" alt="Javascript" class="mnlogo">
        <img src="\assets\imagen\csharp.png" title="CSharp" alt="C#" class="mnlogo">
        <img src="\assets\imagen\html.png" title="HTML y CSS" alt="HTML y CSS" class="mnlogo">
        <img src="\assets\imagen\sql.png" title="SQL Server" alt="SQL Server" class="mnlogo">       
    </div>    
    </div>
    </div>
    <div class="col-md-8">
    <h5 >Hola, soy Luis Felipe, un placer conocerte.</h5> 
    <h5  style="margin-top: -5px; color: rgb(220,53,69);">Desarrollador web y de aplicaciones de escritorio.</h5>
    <p> Soy un desarrollador .Net y manejo el lenguaje de C#. Se trabajar en ASP.Net Core, Consola, MVC y Windows Form.
        Desde que empece  como desarrollador web siempre eh tratado de cumplir con los requerimientos necesarios que
        llevan una pagina web para desarrollarla y diseñarla acorde a la necesidad del cliente o propia. Creando paginas 
        web representables y acorde al funcionamiento que tendrá dicha pagina web. </p>
        <p> Tengo la capasidad de entender y aprender otras tecnologias para el desarrollo web por mi sentido logico de la programacion.</p>
    <h6>Entorno Web</h6>
        <p>Para desarrollar paginas Web en el Back-End utilizo C#. <p> Para el desarrollo del Front-End utilizo Angular, Boostrap y JavaScript.</p> 
        <p>Desarrollo Aplicaciones Web con Asp.Net Core / MVC.</p> 
      
        <hr> 
        <h6>Entorno de aplicaciones de Escritorio</h6>
          <P>Para desarrollo de aplicaciones de escritorio utilizo el lenguaje de 
            programacion C# con Windosw Form.</P>
            <hr>
            <h6>Bases de Datos</h6>
            <p>Administro y Gestiono las bases de datos utilizando SQL Server y MySQL.</p>

        </div>
    </div>
</div>
